@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');


html {
  box-sizing: border-box;
  height: 100%;
  background-image: url("https://i.pinimg.com/originals/1a/0c/a5/1a0ca5723cb409294036416cbe390e7b.gif");
  /* background-image : "https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fillustrations%2Fpink-glitter-background&psig=AOvVaw1qrJuQ0kr27Pk27uYZjbP8&ust=1757457785873000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCKj8rcueyo8DFQAAAAAdAAAAABAE"; */
}

html,
body {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #30cac073;
  color: #c5c5c5;
  border-color: blueviolet;
  border-radius: 2px;
}

h2 {
  font-size: 1.1em;
  
}

a, a:active, a:visited, a:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
  text-decoration: none;
}

#contenedorGeneral {
  margin: auto 1em;
  text-align: center;
}

#tituloPagina {
  margin-top: 1em;
  margin-bottom: 0;
  margin-bottom: 0.5em;
  font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;
}

#tituloPagina:hover {
  color: pink;
  cursor: pointer;
}

#contenedorPersonaje {
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.imagen {
  height: 170px;
  width: 150px;
  margin: 0em auto;
}

#boton {
  margin: 20px;
  font-size: 3em;
  background-color:  rgb(193, 120, 199);
  color: white;
  cursor: pointer;
  width: 300px;
  height: 100px;
}
